body {
    width: 960px;
    margin: 0 auto;
    background: #111;
	color: #000;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.no-csstransforms3d #container {
	display: none;
}

.csstransforms3d #no-support {
	display: none;
}

#container {
   
   -o-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	perspective: 1000;
	
   -o-perspective-origin: 50% 20%;
	-moz-perspective-origin: 50% 20%;
	-webkit-perspective-origin: 50% 40%;
	perspective-origin: 50% 20%;
    
    -o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#stage {
	width: 100%;
	margin-top: 200px;
	padding-bottom: 100px;
	
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#shape {
	margin: 0 auto;
	height: 240px;
	width: 240px;
	list-style: none;
	
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #333;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 36px;
}

img {
    margin: auto;
    text-align: center;
}

#controls, #no-support {
    margin: 10px auto;
    padding: 15px 10px;
    text-align: center;
    background: #005982;
    color: #fff;
    border: 1px solid #fff;
    
    -o-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

#controls input {
    margin: 0 20px 0 10px;   
}

#controls a {
    color: #fff;
	margin-left: 5px;
}

#submit {
    background: #fff;
}